.container
    max-width: 1024px;
    margin: 0 auto;


.form
    max-width: 900px;
    margin: 5px auto
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.form_grid
    display: flex
    flex-direction: column
    width: 420px

.form_grupo
    display: flex
.form_grid-espaco
    margin-right: 70px;

.form_grid-menor
    max-width: 500px;

.form_grid-maior
    max-width: 250px;

.form_right
    width: 100%
    display: flex
    justify-content: flex-end
    padding: 5px
    margin: 10px

.form_text
    color: cinza-text
    margin-top: 15px

.form_fundo
    height: 50px
    background-color: cinza-fundo
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center



.form_input
    width 97%
    height 30px
    background-color: cinza-fundo
    border-bottom: 1px solid cinza-linha 
.form_grid-menor
    width: 100px;

.form_consulta
    color #ffffff
    height: 40px
    width: 300px
    border 0
    margin-left: 50px 

.form_submit
    margin: 10px
    width: 150px
    border-radius: 5px 
    height 50px
    background-color: #00acf4
    color: #fff




    